<section class="md:p-24">

    <div class="flex justify-center my-8">
        <p class="text-xl font-bold background">Projects</p>
    </div>

    @for(project of projects; track project.id){
    <div [@slideUp]="animationState"
        class="flex items-center p-4 my-4 rounded-xl bg-gray-900/60 hover:bg-gray-900/80 transition-all duration-300 shadow-lg group border border-purple/40">
        <div class="text-2xl font-bold text-white min-w-16 mr-8">
            {{ project.id | number:'2.0' }}
        </div>

        <div class="flex-1">
            <h3 class="text-xl font-bold text-white mb-2">{{ project.name }}</h3>
            <p class="text-md text-gray-400">{{ project.description }}</p>
        </div>

        <div (click)="openLink(project.backendLink)"
            class="w-12 h-12 border-2 border-purple/40 rounded-full flex items-center justify-center ml-8 cursor-pointer hover:bg-accent-green hover:scale-110 transition-all duration-300">
            <svg class="w-6 h-6 stroke-purple/40 group-hover:stroke-purple transition-colors duration-300" fill="none"
                stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 17L17 7M17 7H7M17 7V17" />
            </svg>
        </div>
    </div>
    }
</section>