<div class="md:min-h-screen min-h-screen w-full md:py-24 quicksand">
    <div [@slideUp]="animationState" class=" flex flex-col justify-center items-center image-container">
        <img loading="lazy" src="eddy-face.svg" class="robot-image" alt="Robbot Image">
        <img loading="lazy" src="ai-icon.webp" class="sparkle-image " alt="Sparkle party">
        <img loading="lazy" src="Subtract.png" class="line-short-left" alt="lines">
        <img loading="lazy" src="Rectangle 3958.png" class="lines-long" alt="lines">
        <img loading="lazy" src="Rectangle-right.png" class="lines-short-right" alt="lines">
        <img loading="lazy" src="Rectangle-short-right.png" class="line-right" alt="lines">
        <div
            class="w-full max-w-3xl md:min-h-[550px] min-h-screen bg-[#161b22] border border-gray-800 rounded-lg p-4 z-10">
            <section class="py-10 text-center bg-base-200">
                <h2 class="text-3xl font-bold mb-8 text-[#7f56d9]">Skills</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-6 max-w-6xl mx-auto">

                    <!-- Front-End -->
                    <div class="bg-white/80 p-6 rounded-lg shadow-sm hover:shadow-md transition">
                        <h3 class="text-xl font-semibold text-gray-800 mb-4">Front-End Development</h3>
                        <div class="mockup-code w-full text-left">
                            <pre class="text-sky-500"><code>$ HTML, CSS, SASS, JS, TS</code></pre>
                            <pre><code>> React.js, Angular, Next.js</code></pre>
                            <pre class="text-purple"><code>> Tailwind, Bootstrap</code></pre>
                        </div>
                    </div>

                    <!-- Back-End -->
                    <div class="bg-white/80 p-6 rounded-lg shadow-sm hover:shadow-md transition">
                        <h3 class="text-xl font-semibold text-gray-800 mb-4">Back-End Development</h3>
                        <div class="mockup-code w-full text-left">
                            <pre class="text-purple"><code>$ Node.js, Express, Nest.js</code></pre>
                            <pre><code>> MongoDB, SQL</code></pre>
                        </div>
                    </div>

                    <!-- Version Control -->
                    <div class="bg-white/80 p-6 rounded-lg shadow-sm hover:shadow-md transition md:col-span-2">
                        <h3 class="text-xl font-semibold text-gray-800 mb-4">Version Control & Tools</h3>
                        <div class="mockup-code w-full text-left">
                            <pre class="text-purple"><code>$ Git, GitHub</code></pre>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>